/* External CSS: */
/*
CSS Selector: body - elementet vi vil modifisere
CSS Declaration: {} - identifiserer hvor vi skriver koden for modifisering
CSS Rule: backbround-color: blue; - 'key' på hva skal modifseres og 'value' til hvordan det skal modifiserest
*/

/* GLOBAL CSS */

.bungee-tint-regular {
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/* HEADER */

.logo {
    /* 'Shorthand' metode */
    border: 3px black solid;
    /* 'Longhand' metode
    border-width: 3px;
    border-color: black;
    border-style: solid;
    */
    padding: 10px;
    border-radius: 50%;
}

header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-color: brown;
}

/* MAIN */

.hero {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.heroText {
    background-color: aquamarine;
}

.bio {
    display: flex;
}

.bioPic {
    width: 66.66%;
}

.bioText{
    flex: 0 0 33.33%
}

.projects {
    display: flex;
    flex-direction: row;
    font-family: "Bungee Tint"
}

.epost {
    background-color: blueviolet;
}




/* FOOTER */

